.header {
    display: flex;
    border: 1px solid #d80808;
    height: 70px;  
    background-color: rgb(8, 241, 86);
}
.Bienvenidos{
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}
.a{
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}
.PEPE{   
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.Armas{
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.COMPRA{
    padding: 10px;
    color: rgb(17, 0, 255);
    font-size: 50px;


}
.Gratis{
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #d80808;
}
.Imagen {
    width: 1500px;
    height: 800px;
}








